# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# VS Code workspace settings
.vscode/

# Data files and model artifacts (optional)
Data/*.db
models/*.pkl
